/* home page */
body{
    background-color: rgba(85, 141, 173, 0.808);
}
/* nav bar */
.nav-custom{
    border-bottom: 1px solid #dfe3e7f3;
    background-color: #e8ecf0f3;
}
/* navbar end  */
.body-margin{
    margin-top: 4rem !important;

}

.image-head{
    position: relative;
    width: 50%;
    
}
.contents{
    position: relative;

    
}
.img-thumbline{
    height: 225px; 
    width: 100%;
    object-fit: cover;
    
}
.overlay {
    position: absolute;
    bottom: 50%;
    left: 0;
    right: 0;
    background-color: #ffffff69; 
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
    
  }
  
  .contents:hover .overlay {
    bottom: 0;
    height: 100%;
   
  }
  
  .text {
    white-space: nowrap; 
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }



/* view page */
.view-img{
    height: 90vh;
    left: 50%;
}
.images-style{
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
   
}

/* sign-up */

.sign-up-custom{
    display: flex;
    justify-content: center;

}

.form-width{
    width:35%;
}
/* * footer */ 
.footer-custom{
  background-color: #404549f3;
  width: 100%;
  border-radius: 5px;
  color: #dce1e6f3;
}
/* message */

.message {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    padding: 0.4rem 1rem;
    border-radius: 0.4rem;
    color: rgba(40, 41, 48, 0.753);
    transition: all .2s;
    transform: translate(0);
    animation: autoHide 0s ease-in 4s forwards;
  }
  
  .message-success {
    background: rgb(5, 114, 238);
    color: #fff;
    animation: autoHide 0s ease-in 4s forwards;
  }
  
  .message-error {
    background: red;
    color: #fff;
    animation: autoHide 0s ease-in 4s forwards;
  }
  
  .message-hide {
    transform: translate(200%);
  }