{% extends "photos/base.html" %}

{% block content%}

<!-- Hero section  -->
<div class="hero-section">
    <div class="hero-slider owl-carousel">
        {% for photo in photos %}
        <div class="hero-item portfolio-item set-bg" data-setbg="{{ photo.image.url }}">
            <a href="{% url 'photo' photo.id %}" class="hero-link">
                <h2>{{ photo.title }}</h2>
            </a>
        </div>
        <a download href="{{photo.image.url}}"> download</a>

    {% endfor %}
    </div>
   
    <div class="hero-social-links">
        <a href=""><i class="fa fa-pinterest"></i></a>
        <a href=""><i class="fa fa-facebook"></i></a>
        <a href=""><i class="fa fa-twitter"></i></a>
        <a href=""><i class="fa fa-dribbble"></i></a>
        <a href=""><i class="fa fa-behance"></i></a>
    </div>
</div>

<!-- Hero section end  -->

<!-- Intro section   -->
<section class="intro-section">
    <div class="intro-warp">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-6 col-lg-7 p-0">
                    <div class="intro-text">
                        <h2>This is your Photo Studio </h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo
                            viverra maecenas accumsan lacus vel facilisis commodo viverra maecenas. Lorem ipsum
                            dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                            et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra
                            maecenas accumsan lacus vel facilisis.</p>
                        <a href="#" class="sp-link">Take a look @Pstudio</a>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-5 p-0">
                    <div class="skill-warp">
                        <div class="single-progress-item">
                            <div class="progress-bar-style" data-progress="75"></div>
                            <p>Nature</p>
                        </div>
                        <div class="single-progress-item">
                            <div class="progress-bar-style" data-progress="100"></div>
                            <p>Passion</p>
                        </div>
                        <div class="single-progress-item">
                            <div class="progress-bar-style" data-progress="90"></div>
                            <p>Portraits</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Intro section end  -->

{% endblock content%}