
{% extends "photos/base.html" %}

{% block content%}


	<!-- Portfolio section  -->
	<div class="portfolio-section">
		<ul class="portfolio-filter controls text-center">
			<li class="control" data-filter="all">All</li>
			<li class="control" data-filter=".nature">Nature</li>
			<li class="control" data-filter=".studio">Studio Photography</li>
			<li class="control" data-filter=".weddings">Weddings</li>
			<li class="control" data-filter=".lifestyle">Lifestyle</li>
			<li class="control" data-filter=".fashion">Fashion</li>
		</ul>                                                           
		<div class="row portfolio-gallery m-0">
			<div class="mix col-xl-2 col-md-3 col-sm-4 col-6 p-0 nature">
				<a href="/static/images/portfolio/1.jpg" class="portfolio-item img-popup set-bg" data-setbg="/static/images/portfolio/1.jpg"></a>
			</div>
			<div class="mix col-xl-2 col-md-3 col-sm-4 col-6 p-0 studio">
				<a href="/static/images/portfolio/2.jpg" class="portfolio-item img-popup set-bg" data-setbg="/static/images/portfolio/2.jpg"></a>
			</div>
			<div class="mix col-xl-2 col-md-3 col-sm-4 col-6 p-0 weddings">
				<a href="/static/images/portfolio/3.jpg" class="portfolio-item img-popup set-bg" data-setbg="/static/images/portfolio/3.jpg"></a>
			</div>
			<div class="mix col-xl-2 col-md-3 col-sm-4 col-6 p-0 lifestyle">
				<a href="/static/images/portfolio/4.jpg" class="portfolio-item img-popup set-bg" data-setbg="/static/images/portfolio/4.jpg"></a>
			</div>
			<div class="mix col-xl-2 col-md-3 col-sm-4 col-6 p-0 fashion">
				<a href="/static/images/portfolio/5.jpg" class="portfolio-item img-popup set-bg" data-setbg="/static/images/portfolio/5.jpg"></a>
			</div>
			<div class="mix col-xl-2 col-md-3 col-sm-4 col-6 p-0 nature">
				<a href="/static/images/portfolio/6.jpg" class="portfolio-item img-popup set-bg" data-setbg="/static/images/portfolio/6.jpg"></a>
			</div>
			<div class="mix col-xl-2 col-md-3 col-sm-4 col-6 p-0 studio">
				<a href="/static/images/portfolio/7.jpg" class="portfolio-item img-popup set-bg" data-setbg="/static/images/portfolio/7.jpg"></a>
			</div>
			<div class="mix col-xl-2 col-md-3 col-sm-4 col-6 p-0 weddings">
				<a href="/static/images/portfolio/8.jpg" class="portfolio-item img-popup set-bg" data-setbg="/static/images/portfolio/8.jpg"></a>
			</div>
			<div class="mix col-xl-2 col-md-3 col-sm-4 col-6 p-0 lifestyle">
				<a href="/static/images/portfolio/9.jpg" class="portfolio-item img-popup set-bg" data-setbg="/static/images/portfolio/9.jpg"></a>
			</div>
			<div class="mix col-xl-2 col-md-3 col-sm-4 col-6 p-0 fashion">
				<a href="/static/images/portfolio/10.jpg" class="portfolio-item img-popup set-bg" data-setbg="/static/images/portfolio/10.jpg"></a>
			</div>
			<div class="mix col-xl-2 col-md-3 col-sm-4 col-6 p-0 nature">
				<a href="/static/images/portfolio/11.jpg" class="portfolio-item img-popup set-bg" data-setbg="/static/images/portfolio/11.jpg"></a>
			</div>
			<div class="mix col-xl-2 col-md-3 col-sm-4 col-6 p-0 studio">
				<a href="/static/images/portfolio/12.jpg" class="portfolio-item img-popup set-bg" data-setbg="/static/images/portfolio/12.jpg"></a>
			</div>
			<div class="mix col-xl-2 col-md-3 col-sm-4 col-6 p-0 weddings">
				<a href="/static/images/portfolio/13.jpg" class="portfolio-item img-popup set-bg" data-setbg="/static/images/portfolio/13.jpg"></a>
			</div>
			<div class="mix col-xl-2 col-md-3 col-sm-4 col-6 p-0 lifestyle">
				<a href="/static/images/portfolio/14.jpg" class="portfolio-item img-popup set-bg" data-setbg="/static/images/portfolio/14.jpg"></a>
			</div>
			<div class="mix col-xl-2 col-md-3 col-sm-4 col-6 p-0 fashion">
				<a href="/static/images/portfolio/15.jpg" class="portfolio-item img-popup set-bg" data-setbg="/static/images/portfolio/15.jpg"></a>
			</div>
			<div class="mix col-xl-2 col-md-3 col-sm-4 col-6 p-0 nature">
				<a href="/static/images/portfolio/16.jpg" class="portfolio-item img-popup set-bg" data-setbg="/static/images/portfolio/16.jpg"></a>
			</div>
			<div class="mix col-xl-2 col-md-3 col-sm-4 col-6 p-0 studio">
				<a href="/static/images/portfolio/17.jpg" class="portfolio-item img-popup set-bg" data-setbg="/static/images/portfolio/17.jpg"></a>
			</div>
			<div class="mix col-xl-2 col-md-3 col-sm-4 col-6 p-0 weddings">
				<a href="/static/images/portfolio/18.jpg" class="portfolio-item img-popup set-bg" data-setbg="/static/images/portfolio/18.jpg"></a>
			</div>
			<div class="mix col-xl-2 col-md-3 col-sm-4 col-6 p-0 lifestyle">
				<a href="/static/images/portfolio/19.jpg" class="portfolio-item img-popup set-bg" data-setbg="/static/images/portfolio/19.jpg"></a>
			</div>
			<div class="mix col-xl-2 col-md-3 col-sm-4 col-6 p-0 fashion">
				<a href="/static/images/portfolio/20.jpg" class="portfolio-item img-popup set-bg" data-setbg="/static/images/portfolio/20.jpg"></a>
			</div>
			<div class="mix col-xl-2 col-md-3 col-sm-4 col-6 p-0 nature">
				<a href="/static/images/portfolio/21.jpg" class="portfolio-item img-popup set-bg" data-setbg="/static/images/portfolio/21.jpg"></a>
			</div>
			<div class="mix col-xl-2 col-md-3 col-sm-4 col-6 p-0 studio">
				<a href="/static/images/portfolio/22.jpg" class="portfolio-item img-popup set-bg" data-setbg="/static/images/portfolio/22.jpg"></a>
			</div>
			<div class="mix col-xl-2 col-md-3 col-sm-4 col-6 p-0 lifestyle">
				<a href="/static/images/portfolio/23.jpg" class="portfolio-item img-popup set-bg" data-setbg="/static/images/portfolio/23.jpg"></a>
			</div>
			<div class="mix col-xl-2 col-md-3 col-sm-4 col-6 p-0">
				<div class="portfolio-item  next-btn">
					<h2>Next</h2>
				</div>
			</div>
		</div>
	</div>
	<!-- Portfolio section end  -->
	{% endblock content%}