/* home page */
body{
<<<<<<< HEAD
    background-color: rgba(85, 141, 173, 0.808);
}
/* nav bar */
.nav-custom{
    border-bottom: 1px solid #dfe3e7f3;
    background-color: #e8ecf0f3;
=======
    background-color: rgba(235, 237, 238, 0.808);
}
/* nav bar */
.nav-custom{
    border-bottom: 1px solid #fdfdfdf3;
    background-color: #d0d3d6f3;
    position: fixed;
    
>>>>>>> refs/remotes/origin/main
}
/* navbar end  */
.body-margin{
    margin-top: 4rem !important;

}

.image-head{
    position: relative;
    width: 50%;
<<<<<<< HEAD

=======
    
>>>>>>> refs/remotes/origin/main
}
.contents{
    position: relative;

<<<<<<< HEAD

}
.img-thumbline{
    height: 225px;
    width: 100%;
    object-fit: cover;

=======
    
}
.img-thumbline{
    height: 225px; 
    width: 100%;
    object-fit: cover;
    
>>>>>>> refs/remotes/origin/main
}
.overlay {
    position: absolute;
    bottom: 50%;
    left: 0;
    right: 0;
<<<<<<< HEAD
    background-color: #ffffff69;
=======
    background-color: #ffffff69; 
>>>>>>> refs/remotes/origin/main
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
<<<<<<< HEAD

  }

  .contents:hover .overlay {
    bottom: 0;
    height: 100%;

  }

  .text {
    white-space: nowrap;
=======
    
  }
  
  .contents:hover .overlay {
    bottom: 0;
    height: 100%;
   
  }
  
  .text {
    white-space: nowrap; 
>>>>>>> refs/remotes/origin/main
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }



/* view page */
.view-img{
    height: 90vh;
    left: 50%;
}
.images-style{
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
<<<<<<< HEAD

=======
   
>>>>>>> refs/remotes/origin/main
}

/* sign-up */

.sign-up-custom{
    display: flex;
    justify-content: center;

}

.form-width{
    width:35%;
}
<<<<<<< HEAD
/* * footer */
.footer-custom{
  background-color: #404549f3;
  width: 100%;
  border-radius: 5px;
  color: #dce1e6f3;
=======
/* * footer */ 
.footer-custom{
  background-color: #e4eaeef3;
  width: 100%;
  border-radius: 5px;
  color: #1d1e1ff3;
>>>>>>> refs/remotes/origin/main
}
/* message */

.message {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
<<<<<<< HEAD
=======
    z-index: 1;
    list-style: none;
>>>>>>> refs/remotes/origin/main
    padding: 0.4rem 1rem;
    border-radius: 0.4rem;
    color: rgba(40, 41, 48, 0.753);
    transition: all .2s;
    transform: translate(0);
    animation: autoHide 0s ease-in 4s forwards;
  }
<<<<<<< HEAD

  .message-success {
    background: rgb(5, 114, 238);
    color: #fff;
    animation: autoHide 0s ease-in 4s forwards;
  }

=======
  
  .message-success {
    background: rgb(75, 127, 187);
    color: #fff;
    animation: autoHide 0s ease-in 4s forwards;
  }
  
>>>>>>> refs/remotes/origin/main
  .message-error {
    background: red;
    color: #fff;
    animation: autoHide 0s ease-in 4s forwards;
  }
<<<<<<< HEAD

=======
  
>>>>>>> refs/remotes/origin/main
  .message-hide {
    transform: translate(200%);
  }
  /* messane section end */